@charset "UTF-8";
/*!
NSmall-mobile
NSMALL Platform System Team
1.2.40

*/
body {
  min-width: 320px;
}

.layer-popup {
  display: none;
  position: absolute;
  z-index: 50;
  left: 50%;
  width: 233px;
  margin-left: -147px;
  margin-top: 35px;
  padding: 15px 30px !important;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  background-color: #f4f4f4;
}

.layer-popup.active {
  display: block;
}

.layer-popup .layer-header h1 {
  margin-bottom: 10px;
  padding: 0;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 15px;
  text-align: center;
  border-top: none;
}

.layer-popup.alert .layer-header h1,
.layer-popup.confirm .layer-header h1 {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.layer-popup .layer-content {
  margin-bottom: 10px;
}

.layer-popup .layer-content.sns {
  margin: 0;
}

.layer-popup .layer-content .fieldset.theme-a {
  margin-top: -10px;
}

.layer-popup .btn.close-layer {
  display: block;
  position: absolute;
  top: -35px;
  right: 0;
  width: 31px;
  height: 31px;
  background: url("/images/common/btn_layer_close.png") no-repeat 0 0;
  background-size: 31px auto;
  -webkit-background-size: 31px auto;
}

.layer-popup .btn.close-layer span {
  position: relative;
  z-index: -1;
}

.layer-popup .alert-message,
.layer-popup .confirm-message {
  min-height: 36px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.layer-popup .alert-message p,
.layer-popup .confirm-message p {
  margin: 0;
  text-align: left;
}

.layer-popup .alert-message p + p,
.layer-popup .confirm-message p + p {
  margin-top: 1em;
}

.layer-popup .id_list {
  width: 100%;
  height: 61px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  border: 1px #ccc solid;
  padding: 7px 0;
  margin: 3px 0 20px;
  font-size: 14px;
}

.layer-popup .id_list > p {
  color: #000;
  padding-bottom: 7px;
  font-size: 15px;
}

.layer-popup .id_list li {
  padding-bottom: 3px;
}

.find-zipcode .layer-content .content h1 {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.accordion.theme-c.collection_upload {
  padding-bottom: 0;
}

.accordion.theme-c.collection_upload h1 {
  padding: 0;
  border-top: none;
}

.accordion.theme-c.collection_upload fieldset {
  border: 1px solid #999;
  background: #fff;
  padding: 10px 5px;
}

.accordion.theme-c.collection_upload fieldset {
  margin: 0;
}

.layer-popup.pop_address {
  display: block;
  width: 295px;
  height: 0%;
  padding: 0 !important;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pop_address ul {
  border-bottom: 1px silver solid;
  padding: 15px 20px;
}

.pop_address ul:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.pop_address ul:last-child li:last-child {
  padding-bottom: 10px;
}

.pop_address ul li:last-child {
  padding: 10px 0 0;
  width: 260px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pop_address .name {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: space-between;
  border-bottom: 1px gray solid;
  padding-bottom: 5px;
  font-weight: bold;
}

.pop_address .name .form.theme-a {
  margin-left: auto;
}

.content-primary .DDcategory {
  width: 100%;
}

.content-primary .DDcategory::before {
  content: "";
  display: block;
  height: 6px;
  background-color: #f6f6f6;
}

.content-primary .DDcategory .inner_DDcategory {
  height: 35px;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: -webkit-linear-gradient(top, white 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, white 0%, #e7e7e7 100%);
}

.content-primary .DDcategory .inner_DDcategory li {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  height: 21px;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}

.content-primary .DDcategory .inner_DDcategory li a {
  display: inline-block;
  text-decoration: none;
  border-left: 1px solid #b1b1b1;
  width: 100%;
  height: 21px;
}

.content-primary .DDcategory .inner_DDcategory li:nth-child(1) a {
  color: #8d356c;
  padding-left: 1px;
  border-left: 0;
}

.content-primary .DDcategory .inner_DDcategory li:nth-child(1) {
  color: #8d356c;
}

.content-primary .DDcategory .inner_DDcategory li:nth-child(2) {
  color: #1b837d;
}

.content-primary .DDcategory .inner_DDcategory li:nth-child(3) {
  color: #f08200;
}

.cart_popup {
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2002;
}

.cart_popup.top {
  position: fixed;
  top: 45px;
}

.cart_popup.mid {
  position: absolute;
  top: 50%;
  margin-top: -46px;
}

.cart_popup.btm {
  position: fixed;
  bottom: 113px;
}

.cart_popup .toast_wrap.active {
  overflow: visible;
  width: auto;
  height: auto;
  transition: top .3s ease-in-out;
  -webkit-transition: top .3s ease-in-out;
}

.cart_popup .toast_wrap.off {
  overflow: hidden;
  transition: top .3s ease-in-out;
  -webkit-transition: top .3s ease-in-out;
}

.toast_wrap {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 10px;
  padding: 18px 0;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.toast_wrap .arrow {
  position: absolute;
  right: 9px;
  top: -5px;
  width: 10px;
  height: 5px;
  background: url("/images/goods/product/bg_arrow.png") no-repeat left top;
  background-size: 10px auto;
  -webkit-background-size: 10px auto;
}

.toast_wrap .arrow.none {
  display: none;
}

.toast_wrap .toast_cont {
  text-align: center;
}

.toast_wrap .toast_cont p {
  font-family: "Malgun Gothic", arial, tahoma, sans-serif, Helvetica !important;
  font-size: 14px;
  color: #fff;
  letter-spacing: -.5px;
}

.toast_wrap .toast_btn {
  padding-top: 10px;
  text-align: center;
}

.toast_wrap .toast_btn .btn_gotoBuy {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Malgun Gothic", arial, tahoma, sans-serif, Helvetica !important;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  line-height: 30px;
  letter-spacing: -.5px;
  text-decoration: none;
  background: #e83f2d;
}

.toast_wrap .toast_btn .btn_gotoBuy span:after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 9px;
  margin-left: 4px;
  background: url("/images/goods/product/btn_goto.png") no-repeat 50% 50%;
  background-size: 6px auto;
  -webkit-background-size: 6px auto;
}

.toast_wrap .toast_btn > .btn_gotoBuy {
  margin-left: 4px;
}

.toast_wrap .toast_btn > .btn_gotoBuy:first-child {
  margin-left: 0;
}

.opt_popup {
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2002;
}

.opt_popup.top {
  position: fixed;
  top: 45px;
}

.opt_popup.mid {
  position: absolute;
  top: 50%;
  margin-top: -27px;
}

.opt_popup.btm {
  position: fixed;
  bottom: 75px;
}

.opt_popup .opt_wrap.active {
  overflow: visible;
  width: auto;
  height: auto;
}

.opt_popup .opt_wrap.off {
  overflow: hidden;
}

.opt_wrap {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 30px;
  padding: 19px 0;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.opt_wrap .opt_cont {
  text-align: center;
}

.opt_wrap .opt_cont p {
  font-family: "Malgun Gothic", arial, tahoma, sans-serif, Helvetica !important;
  font-size: 14px;
  color: #fff;
  letter-spacing: -.5px;
}

.openDim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
  z-index: 10000;
}

.btn.close-layer {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 17px;
  height: 17px;
  background: url("/images/common/btn_join_close.png") no-repeat 0 0;
  background-size: 17px auto;
  -webkit-background-size: 17px auto;
  z-index: 10000;
}

.btn.close-layer span {
  position: relative;
  z-index: -1;
  text-indent: -5000px;
}

.open-popup {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10000;
}

.open-popup.sns-join {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.open-popup .open-header h1 {
  height: 20px;
  margin: 0 0 9px 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.open-popup .open-content {
  margin: 0 30px;
  padding: 25px !important;
  background-color: #fff;
}

.open-content .confirm-message {
  margin-top: 10px;
  padding: 20px 0 12px;
  font-size: 16px;
  background: url("/images/common/naver_logo.gif") no-repeat center 0;
  background-size: 63px auto;
  text-align: center;
}

.open-content .payco-message {
  margin-top: 10px;
  padding: 20px 0 12px;
  font-size: 16px;
  background: url("/images/common/payco_logo.gif") no-repeat center 0;
  background-size: 55px auto;
  text-align: center;
}

.open-content .kakao-message {
  margin-top: 5px;
  padding: 25px 0 12px;
  font-size: 16px;
  background: url("/images/common/kakao_logo.gif") no-repeat center 0;
  background-size: 56px auto;
  text-align: center;
}

.open-content .cont {
  position: relative;
  margin-top: 25px;
}

.open-content .alert-message {
  font-size: 12px;
  color: #555;
  line-height: 1.2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.open-content .alert-message strong {
  display: block;
  margin-bottom: 7px;
  color: #333;
}

.open-content .alert-message p {
  margin-bottom: 13px;
}

.open-popup.sns-bridge {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.open-content .mb-title {
  display: block;
  position: relative;
  padding-bottom: 1px;
  text-align: center;
}

.open-content .mb-title p {
  display: inline-block;
  padding: 5px 1px 5px 2px;
  font-size: 17px;
  color: #333;
  border-bottom: 1px solid #333;
}

.open-content .cont.line {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-top: 20px;
}

.open-content .alert-message .tit {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.open-content .alert-message .txt {
  margin-bottom: 8px;
  color: #999;
}

.open-content .gray_box {
  padding: 15px 0;
  background-color: #f8f8f8;
  text-align: center;
}

.open-content .gray_box h2 {
  font-size: 14px;
  color: #ef463b;
}

.open-content .gray_box p.mail_txt {
  margin-top: 5px;
  font-size: 12px;
  color: #6a6969;
  line-height: 20px;
}

.em-member-old {
  position: relative;
  top: 0;
  padding: 3px;
  font-style: normal;
  font-size: 12px;
  color: #999;
  letter-spacing: -.5px;
  line-height: 1.3em;
}

.em-member-old.red {
  margin-bottom: 2px;
  color: #ee463b;
}

.notice_auth_popup .open-popup {
  z-index: 10001;
}

.notice_auth_popup .open-popup.layer-popup {
  display: none;
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.notice_auth_popup .open-popup.layer-popup.active {
  display: block;
}

.notice_auth_popup .open-popup .open-content {
  padding: 0 !important;
  width: 310px;
  margin: auto;
}

.notice_auth_popup .mb-title {
  margin-top: 45px;
}

.notice_auth_popup .mb-title .logo {
  width: 156px;
  height: 40px;
  margin: 0;
  padding: 0;
  background: url("/images/common/logo_auth_popup.png") no-repeat center 0;
  background-size: 156px 40px;
  color: transparent;
  border: 0;
}

.notice_auth_popup .mb-title .logo span {
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -9999px;
  font-size: 0;
}

.notice_auth_popup .alert-message {
  margin: 22px 0 22px;
}

.notice_auth_popup .alert-message .tit {
  width: 250px;
  margin: auto;
  text-align: center;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -1.5px;
  color: #111;
}

.notice_auth_popup .alert-message .txt {
  width: 290px;
  margin: 12px auto 0;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  color: #999;
}

.notice_auth_popup .legal_wrap {
  padding: 22px 17px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.notice_auth_popup .legal_wrap strong {
  font-size: 16px;
  line-height: 25px;
  color: #dd5445;
  font-weight: bold;
}

.notice_auth_popup .legal_wrap .data-list li {
  margin: 0;
  color: #555;
  font-size: 14px;
  line-height: 25px;
}

.notice_auth_popup .data-list.theme-a li:before {
  top: 10px;
}

.notice_auth_popup .em.theme-buil {
  position: relative;
  margin: 30px 0 25px;
  padding: 0 0 0 1.3em;
  line-height: 1.5em;
  font-size: 12px;
  color: #555;
}

.notice_auth_popup .em.theme-buil:before {
  content: "※";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.5em;
}

.notice_auth_popup .button-area .btn.red-box.rate-a {
  background-color: #dc5344;
}

.notice_auth_popup .button-area .btn.red-box.rate-a span {
  font-size: 16px;
  line-height: 43px;
}

@media only screen and (max-width: 320px) {
  .notice_auth_popup .open-popup .open-content {
    width: 290px;
  }
  .notice_auth_popup .alert-message .txt {
    font-size: 13px;
  }
  .notice_auth_popup .legal_wrap .data-list li {
    font-size: 12px;
  }
  .notice_auth_popup .mb-title {
    margin-top: 25px;
  }
  .notice_auth_popup .alert-message {
    margin: 17px 0 17px;
  }
  .notice_auth_popup .em.theme-buil {
    margin: 20px 0 20px;
  }
}

@media only screen and (max-height: 560px) {
  .notice_auth_popup .open-popup .open-content {
    width: 290px;
  }
  .notice_auth_popup .alert-message .txt {
    font-size: 12px;
  }
  .notice_auth_popup .legal_wrap .data-list li {
    font-size: 12px;
  }
  .notice_auth_popup .mb-title {
    margin-top: 15px;
  }
  .notice_auth_popup .alert-message {
    margin: 5px 0 5px;
  }
  .notice_auth_popup .em.theme-buil {
    margin: 5px 0 5px;
  }
}

@media (min-width: 320px) {
  .live_tv-data {
    margin-top: -25px;
  }
}

@media (min-width: 360px) {
  .live_btn {
    margin-top: -35px;
  }
}

.live_openDim {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: 100;
}

.live_tv-data {
  position: absolute;
  top: 42%;
  width: 100%;
  z-index: 100;
}

.live_tv-data-wrap {
  position: relative;
  width: 253px;
  margin: 0 auto;
  text-align: center;
}

.live_tv-data-info {
  padding-bottom: 17px;
  color: #fff;
  line-height: 22px;
}

.live_tv-data-wrap .live_tv-btn-wrap > span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  margin: 0 auto;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
}

.live_tv-data-wrap .live_tv-btn-wrap > span .live_tv-btn-cancle {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
  background: #2d2d2d;
  color: #fff;
  line-height: 32px;
  border-radius: 3px;
}

.live_tv-data-wrap .live_tv-btn-wrap > span .live_tv-btn-submit {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
  background: #fff;
  color: #6a6a6a;
  line-height: 32px;
}

.live_tv-data-wrap .live_tv-btn-wrap a + a {
  margin-left: 6px;
  border-radius: 3px;
}

.jjim_layer {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 120px;
  margin-top: -60px;
  margin-left: -70px;
  z-index: 10001;
  display: none;
}

.jjim_inbox {
  position: relative;
  width: 140px;
  height: 120px;
  background: url("/images/common/bg_zzim_popup.png") no-repeat 0 0;
  background-size: 100%;
}

.jjim_inbox.on {
  height: 122px;
  background-position: 0 -121px;
}

.jjim_inbox.on p {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.jjim_inbox p {
  display: block;
  margin: 0 auto;
  padding-top: 36px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
