@charset "UTF-8";
/*!
NSmall-mobile
NSMALL Platform System Team
1.2.40

*/
body.bgFix {
  overflow: hidden;
}

#wrap {
  background-color: #eee;
}

#wrap #container,
#search_container {
  box-shadow: none;
}

.nstalk_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #e7392f;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10000;
}

.nstalk_header .btn_back {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.nstalk_header .btn_back a {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  color: transparent;
  background: url("/images/nstalk/bg_nstalk_header.png") no-repeat 0 0;
  background-size: 82px auto;
  text-indent: -9999px;
}

.nstalk_header .nstalk_tit {
  overflow: hidden;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  line-height: 40px;
  text-align: center;
}

.nstalk_header .nstalk_tit .nstalk_tit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 66px;
  height: 40px;
  background: url("/images/nstalk/nstalk_title.png") no-repeat 0 0;
  background-size: 66px auto;
  text-indent: -9999px;
}

.nstalk_header .nstalk_btn a span {
  overflow: hidden;
  display: inline-block;
  height: 40px;
  margin: 0;
  padding: 0;
  color: transparent;
  background: url("/images/nstalk/bg_nstalk_header.png") no-repeat 0 0;
  background-size: 82px auto;
  text-indent: -9999px;
}

.nstalk_header .nstalk_btn .btn_goto_home {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 42px;
  height: 40px;
}

.nstalk_header .nstalk_btn .btn_goto_home span {
  width: 42px;
  background-position: -40px 0;
}

#container[data-focus="true"] #header,
#container[data-focus="true"] .nstalk_header,
#container[data-focus="true"] .nstalk_list_sort,
#container[data-focus="true"] .nstalk_live_wrap,
#container[data-focus="true"] .nstalk_input {
  position: absolute;
}

#header,
.nstalk_header,
.nstalk_list_sort,
.nstalk_live_wrap,
.nstalk_input {
  position: fixed;
}

#contents.nstalk {
  min-height: 0;
  margin: 0;
  padding: 40px 0 0 0;
  background-color: #eee;
}

.rt_con {
  position: relative;
  padding: 10px;
  background-color: #efefef;
}

.rt_con .rtBx {
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  font-size: 0;
}

.rt_con .accu {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.rt_con .accu i {
  display: inline-block;
  background-image: url("/images/nstalk/icon_nstalk.png");
  background-repeat: no-repeat;
  background-size: 110px auto;
  background-position: -43px 0;
  width: 44px;
  height: 18px;
  text-indent: -999em;
  vertical-align: middle;
}

.rt_con .cnt {
  display: inline-block;
  margin: 0 5px 0 2px;
  padding: 0 4px;
  color: #ee463b;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
}

.rt_con .rt_talk {
  overflow: hidden;
  display: inline-block;
  width: 198px;
  height: 40px;
  vertical-align: -webkit-baseline-middle;
}

.rt_con .rt_talk ul.ani {
  -webkit-animation-name: real_time;
  animation-name: real_time;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

@-webkit-keyframes real_time {
  0% {
    margin-top: 40px;
  }
  25% {
    margin-top: 30px;
  }
  50% {
    margin-top: 20px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes real_time {
  0% {
    margin-top: 40px;
  }
  25% {
    margin-top: 30px;
  }
  50% {
    margin-top: 20px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

.rt_con .rt_talk li {
  overflow: hidden;
  line-height: 40px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.rt_con .rt_talk li span {
  display: block;
  line-height: 40px;
}

.rt_con:after {
  position: absolute;
  top: 51px;
  left: 48%;
  border-style: solid;
  border-width: 6px 6px 4px 6px;
  border-color: #fff transparent transparent transparent;
  content: "";
}

.nstalk_live_wrap {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: #eee;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.nstalk_live_tv {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}

.nstalk_live_tv img {
  width: 100%;
  height: auto;
}

.nstalk_live_tv .onair {
  width: 39.5%;
  height: 13%;
  font-size: 16px;
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 10;
  background: url("/images/common/ico_onair.png") no-repeat 0 0;
  -webkit-background-size: 100%;
  background-size: 100%;
  letter-spacing: -.5px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nstalk_live_tv .onair .broad_timer {
  letter-spacing: 0;
  margin-left: 45%;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.nstalk_live_tv .etv_title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: left;
  background-size: 1px auto;
  -webkit-background-size: 1px auto;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.nstalk_live_tv .etv_title dl {
  overflow: hidden;
  position: relative;
  height: 38px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.nstalk_live_tv .etv_title dl:after {
  display: block;
  clear: both;
  overflow: hidden;
  content: "";
}

.nstalk_live_tv .etv_title dt {
  overflow: hidden;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-align-self: center;
  align-self: center;
}

.nstalk_live_tv .etv_title dt a {
  display: block;
  overflow: hidden;
  font-size: 15px;
  color: #fff;
  letter-spacing: -1px;
  line-height: 38px;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.nstalk_live_tv .etv_title dd.tag.item-feature.interest-free {
  display: block;
  height: 38px;
  letter-spacing: -.5px;
  margin-right: 10px;
  text-align: right;
  -webkit-flex: none;
  -ms-flex: none;
  -webkit-box-flex: 0;
  flex: none;
  -webkit-align-self: center;
  align-self: center;
}

.nstalk_live_tv .etv_title dd.tag.item-feature.interest-free span {
  display: inline-block;
}

.nstalk_live_tv .etv_title dd.tag.item-feature.interest-free .price {
  margin-top: 1px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.nstalk_live_tv .etv_title dd.tag.item-feature.interest-free .won {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  vertical-align: 2px;
}

.nstalk_live_tv .mov_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  text-align: left;
  z-index: 9;
}

.nstalk_live_tv .mov_btn img,
.nstalk_live_tv .pause_layer img {
  width: 50%;
  height: auto;
}

.nstalk_live_tv .pause_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nstalk_live_tv .pause_layer .pauseclose_btn {
  position: absolute;
  top: 12px;
  right: 8px;
}

.nstalk_live_tv .pause_layer ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media all and (min-width: 360px) {
  .nstalk_live_tv .mov_btn {
    margin: -35px 0 0 -35px;
  }
  .nstalk_live_tv .mov_btn img,
  .nstalk_live_tv .pause_layer img {
    width: 70%;
  }
  .nstalk_live_tv .pause_layer ul li {
    padding-right: 20px;
  }
  .nstalk_live_tv .pause_layer ul li:last-child {
    padding-right: 0;
  }
}

.nstalk_live_tv .go_item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: -999999px;
}

.nstalk_tip {
  position: relative;
  background: #fff;
}

.nstalk_tip .prd_only {
  position: relative;
  height: 40px;
  padding: 0 14px;
  font-size: 14px;
  color: #3a3a3a;
  line-height: 40px;
  border-bottom: 1px solid #d9d9d9;
}

.nstalk_tip .btn_order {
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
  width: 75px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #e83f2d;
  text-decoration: none;
}

.nstalk_tip .btn_tip {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  color: transparent;
  background: url("/images/nstalk/icon_nstalk.png") no-repeat 0 0;
  background-size: 110px auto;
  -webkit-background-size: 110px auto;
  text-indent: -9999px;
  vertical-align: middle;
}

.nstalk_tip .btn_tip.active {
  background-position: 0 0;
}

.tip_cont {
  display: none;
  position: fixed;
  top: 245px !important;
  left: 10px;
  width: 300px;
  z-index: 10000;
}

.tip_cont .hidden {
  display: none;
  position: absolute;
  top: -1000em;
  left: -1000em;
}

.tip_cont .tip_cont_view {
  position: relative;
  padding: 18px 15px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.tip_cont dl {
  padding: 0 0 7px;
  color: #fff;
}

.tip_cont p,
.tip_cont dd {
  color: #fff;
  font-size: 12px;
  line-height: 1.25em;
}

.tip_cont strong,
.tip_cont u,
.tip_cont dt {
  color: #fff568;
  font-size: 12px;
  line-height: 1.25em;
}

.tip_cont .btn_close_tip {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 10px 13px;
}

.tip_cont .btn_close_tip span {
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  color: transparent;
  border: 0;
  background: url("/images/common/btnPopClose.png") no-repeat;
  background-size: 13px auto;
}

.tip_cont.active {
  display: block;
}

.tip-popup {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  display: none;
  z-index: 1000;
  width: 300px;
  padding: 5px;
  border: 1px solid #f26522;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
}

.nstalk_list_sort {
  position: fixed;
  left: 0;
  right: 0;
  top: 240px;
  height: 48px;
  margin: 0;
  padding: 0;
  line-height: 48px;
  background: #eee;
  z-index: 99;
}

.nstalk_list_sort.top {
  top: 40px;
}

.nstalk_list_sort .btn_reset {
  display: inline-block;
  height: 48px;
  padding: 0 15px;
  font-size: 14px;
  color: #3a3a3a;
  line-height: 48px;
  border: 0 none;
  background: none;
  cursor: pointer;
  outline: none;
}

.nstalk_list_sort .btn_reset span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 4px;
  background: url("/images/nstalk/icon_nstalk.png") no-repeat;
  background-position: -20px 0;
  background-size: 110px auto;
  -webkit-background-size: 110px auto;
  vertical-align: middle;
}

.sort_select {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  min-width: 73px;
  text-align: left;
}

.sort_select a {
  text-decoration: none;
}

.sort_select .btn_select {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 48px;
  padding-right: 16px;
  font-size: 14px;
  color: #3a3a3a;
  text-align: right;
  line-height: 48px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sort_select .btn-opt {
  display: block;
  position: absolute;
  top: 17px;
  right: 0;
  width: 10px;
  height: 6px;
  text-align: center;
  cursor: pointer;
}

.sort_select .btn-opt i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 6px;
  background: transparent url("/images/nstalk/icon_nstalk.png") no-repeat;
  background-position: -24px -22px;
  background-size: 110px auto;
  -webkit-background-size: 110px auto;
}

.sort_select ul {
  display: none;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 3px;
  left: -2px;
  width: 100%;
  /*height:0;*/
  border: 1px solid #d9d9d9;
  background-color: #fff;
  z-index: 999;
}

.sort_select.active ul {
  display: block;
}

.sort_select li {
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #3a3a3a;
  border-top: 1px solid #d9d9d9;
  text-align: left;
  cursor: pointer;
}

.sort_select li:first-child {
  border-top: 0 none;
}

.sort_select li a {
  display: block;
  padding: 7px 9px 6px;
  color: #333;
  line-height: 1.357em;
}

.sort_select ul li:first-child:before {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  right: 10px;
  width: 10px;
  height: 6px;
  background: transparent url("/images/nstalk/icon_nstalk.png") no-repeat;
  background-position: -24px -30px;
  background-size: 110px auto;
  -webkit-background-size: 110px auto;
  z-index: 10;
}

.sort_select {
  z-index: 1000;
}

.sort_select .btn-opt i {
  background-position: -24px -22px;
}

.nstalk_cont_wrap {
  position: relative;
  padding-top: 240px;
}

.nstalk_cont_wrap.top {
  padding-top: 48px;
}

.nstalk_listwrap {
  position: relative;
  background: #eee;
}

.participation_talkbox {
  overflow: hidden;
  padding: 0 0 39px;
}

.participation_talkbox .talk_list {
  overflow: hidden;
  position: relative;
  padding: 10px 15px 5px;
}

.participation_talkbox .talk_list:after {
  display: block;
  clear: both;
  overflow: hidden;
  content: "";
}

.participation_talkbox .talk_list > li {
  position: relative;
  display: block;
  margin: 0 10px;
  max-width: 100%;
}

.participation_talkbox .talk_list > li .talk_box {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 13px 15px 12px;
  font-size: 14px;
  color: #333;
  line-height: 18px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.participation_talkbox .talk_list > li .talk_box.pd {
  background-color: #f2bfbc;
}

.participation_talkbox .talk_list > li .talk_box.review {
  color: #999;
}

.participation_talkbox .talk_list > li .talk_box::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.participation_talkbox .talk_list > li .talk_box .talk_message {
  display: block;
  text-align: left;
  word-break: break-all;
}

.participation_talkbox .talk_list > li .talk_box .talk_message strong {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 1px 6px 0;
  font-size: 11px;
  font-weight: normal;
  color: #f16b62;
  line-height: 11px;
  letter-spacing: -.5px;
  border: 1px solid #f3c3c0;
  border-radius: 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}

.participation_talkbox .talk_list > li .talk_box.review .talk_message strong {
  margin: 4px 8px 0 0;
  padding: 0;
  color: #999;
  border: none;
  border-radius: 0;
}

.participation_talkbox .talk_list > li .talk_box .talk_notice {
  display: block;
  padding: 1px 0 11px 0;
  font-size: 14px;
  color: #19c4c6;
  line-height: 17px;
  text-align: left;
}

.participation_talkbox .talk_list > li .talk_box .talk_notice:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 14px;
  margin-right: 2px;
  background: transparent url("/images/nstalk/icon_nstalk.png") no-repeat;
  background-position: 0 -22px;
  background-size: 110px auto;
  -webkit-background-size: 110px auto;
  border: 0 none;
  vertical-align: -2px;
}

.participation_talkbox .talk_list > li .talk_box .talk_reply {
  margin-top: 12px;
  border-top: 1px solid #f3f3f3;
  padding-top: 14px;
}

.participation_talkbox .talk_list > li .talk_box .talk_reply p {
  position: relative;
  margin-top: 8px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.participation_talkbox .talk_list > li .talk_box .talk_reply p:first-child {
  margin-top: 0;
}

.participation_talkbox .talk_list > li .talk_box .talk_reply p::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 7px;
  height: 7px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: transparent transparent #333 #333;
}

.participation_talkbox .talk_list > li .talk_info {
  overflow: hidden;
  width: 100%;
  padding: 3px 0 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.participation_talkbox .talk_list > li .talk_info .talk_time {
  padding: 0 7px 0 0;
  font-size: 12px;
  color: #999;
  letter-spacing: -.5px;
}

.participation_talkbox .talk_list > li .talk_info .talk_time span {
  font-size: 12px;
}

.participation_talkbox .talk_list > li .talk_info .talk_id {
  position: relative;
  padding: 0 2px 0 6px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.participation_talkbox .talk_list > li .talk_info .talk_id::after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 3px;
  width: 1px;
  background-color: #999;
  pointer-events: none;
}

.participation_talkbox .talk_list > li.lt {
  text-align: left;
  margin-left: 10px;
}

.participation_talkbox .talk_list > li.lt .talk_box {
  border-radius: 0 9px 9px 9px;
}

.participation_talkbox .talk_list > li.lt .talk_info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.participation_talkbox .talk_list > li.lt .talk_id::after {
  left: 0;
}

.participation_talkbox .talk_list > li.lt .talk_box::before {
  right: 100%;
  border-width: 0 10px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.participation_talkbox .talk_list > li.rt {
  text-align: right;
  margin-right: 10px;
}

.participation_talkbox .talk_list > li.rt .talk_box {
  border-radius: 9px 0 9px 9px;
}

.participation_talkbox .talk_list > li.rt .talk_id::after {
  left: 0;
}

.participation_talkbox .talk_list > li.rt .talk_box::before {
  left: 100%;
  border-width: 8px 10px 0 0;
  border-color: #fff transparent transparent transparent;
}

.participation_talkbox .talk_list > li.rt .talk_box.pd::before {
  border-color: #f2bfbc transparent transparent transparent;
}

.btn.top {
  display: none !important;
}

.nstalk_input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  z-index: 1000;
}

.nstalk_input fieldset {
  display: block;
  position: relative;
  border: 0;
}

.nstalk_input fieldset legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.nstalk_input p {
  overflow: hidden;
  padding: 9px 0;
  margin: 0 72px 0 14px;
  background: #fff;
}

.nstalk_input p input {
  display: block;
  position: relative;
  width: 100%;
  height: 25px;
  font-size: 14px;
  color: #999;
  border: 0 none;
  background: none;
  outline: none;
  text-indent: 1px;
}

.nstalk_input p input[type="text"]:focus {
  border-bottom: 0 none;
}

.nstalk_input .btn_write {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 43px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
  line-height: 43px;
  border: 0 none;
  background: #ee463b;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.nstalk_cont_wrap .layer-popup {
  padding: 12px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 101;
}

@media all and (width: 320px) {
  .nstalk_live_tv .onair .broad_timer {
    font-size: 14px;
    margin-bottom: 3px !important;
  }
}

@media (min-width: 360px) {
  .participation_talkbox .talk_list {
    padding-top: 0;
  }
  .nstalk_cont_wrap {
    padding-top: 266px;
  }
  .nstalk_list_sort {
    top: 262px;
  }
}

@media (min-width: 375px) {
  .nstalk_cont_wrap {
    padding-top: 270px;
  }
  .rt_con .rt_talk {
    width: 218px;
  }
  .nstalk_list_sort {
    top: 270px;
  }
}

@media (min-width: 412px) {
  .nstalk_cont_wrap {
    padding-top: 290px;
  }
  .rt_con .rt_talk {
    width: 290px;
  }
  .nstalk_list_sort {
    top: 288px;
  }
}

.list_grid_vod {
  clear: both;
  padding: 10px 7.5px 0;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
}

.list_grid_vod::after {
  content: "";
  display: block;
  clear: both;
}

.list_grid_vod .list_wrap {
  overflow: hidden;
  float: left;
  width: 50%;
}

.list_grid_vod .vod_thumb_item {
  display: block;
  position: relative;
  padding: 0 7.5px 10px;
}

.list_grid_vod .img_thumb {
  position: relative;
}

.list_grid_vod .img_thumb img {
  display: block;
  width: 100%;
  height: 100%;
}

.list_grid_vod .img_thumb .timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  padding: 1px 8px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  line-height: 125%;
  font-size: 11px;
  letter-spacing: 0;
}

.list_grid_vod .img_thumb .icon_play {
  overflow: hidden;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("/images/vod/icon_thumb_play.png") 50% 50% no-repeat;
  background-color: rgba(43, 51, 63, 0.7);
  background-size: 30px 30px;
}

.list_grid_vod .info {
  display: block;
  height: 70px;
  margin: 7px 0 0;
}

.list_grid_vod .info .txt_wrap {
  overflow: hidden;
  height: 40px;
}

.list_grid_vod .info .txt {
  display: -webkit-box;
  overflow: hidden;
  color: #111;
  font-size: 16px;
  line-height: 125%;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}

.list_grid_vod .badge_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 100%;
  margin-top: 13px;
  font-size: 12px;
  line-height: 15px;
}

.list_grid_vod .badge_wrap .badge_play::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_play.png") 50% 50% no-repeat;
  background-size: 9px 11px;
  vertical-align: top;
}

.list_grid_vod .badge_wrap .badge_good::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_good.png") 50% 50% no-repeat;
  background-size: 12px 12px;
  vertical-align: top;
}

.list_grid_vod .badge_wrap .icon_dash::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 9px;
  margin: 0 5px;
  background-color: #e7e7e7;
}

.list_sort_vod {
  clear: both;
  box-sizing: border-box;
}

.list_sort_vod .list_wrap {
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: 1px solid #e7e7e7;
}

.list_sort_vod .list_wrap:last-child {
  border-bottom: 0;
}

.list_sort_vod .vod_thumb_item {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.list_sort_vod .img_thumb {
  position: relative;
  float: left;
  width: calc(50% - 7.5px);
  height: auto;
}

.list_sort_vod .img_thumb img {
  display: block;
  width: 100%;
  height: 100%;
}

.list_sort_vod .img_thumb .timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  padding: 1px 8px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  line-height: 125%;
  font-size: 11px;
  letter-spacing: 0;
}

.list_sort_vod .img_thumb .icon_play {
  overflow: hidden;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("/images/vod/icon_thumb_play.png") 50% 50% no-repeat;
  background-color: rgba(43, 51, 63, 0.7);
  background-size: 30px 30px;
}

.list_sort_vod .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
  position: absolute;
  height: 100%;
  margin-left: calc(50% - 7.5px);
}

.list_sort_vod .info .txt_wrap {
  overflow: hidden;
  margin-left: 15px;
}

.list_sort_vod .info .txt_wrap .sub_txt {
  display: -webkit-box;
  overflow: hidden;
  margin-top: 2px;
  min-height: 18px;
  color: #999;
  font-size: 14px;
  line-height: 18px;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.list_sort_vod .info .txt {
  display: -webkit-box;
  overflow: hidden;
  color: #111;
  font-size: 16px;
  line-height: 125%;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.list_sort_vod .badge_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 100%;
  margin-left: 15px;
  font-size: 12px;
  line-height: 15px;
}

.list_sort_vod .badge_wrap .badge_play::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_play.png") 50% 50% no-repeat;
  background-size: 9px 11px;
  vertical-align: top;
}

.list_sort_vod .badge_wrap .badge_good::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_good.png") 50% 50% no-repeat;
  background-size: 12px 12px;
  vertical-align: top;
}

.list_sort_vod .badge_wrap .icon_dash::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 9px;
  margin: 0 5px;
  background-color: #e7e7e7;
}

.promo_vod {
  position: relative;
  clear: both;
}

.promo_vod .promo_link {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 20px 30px;
}

.promo_vod .icon {
  overflow: hidden;
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.promo_vod .icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo_vod .copy_info {
  display: block;
  margin-left: 75px;
  font-size: 14px;
  color: #333;
  letter-spacing: -1px;
  font-weight: normal;
  line-height: 20px;
}

.promo_vod strong {
  display: block;
  margin-top: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #111;
  line-height: 25px;
}

.sort_wrap {
  border-bottom: 1px solid #e7e7e7;
}

.sort_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 223px;
  margin: 5px auto;
}

.sort_menu .sort_btn {
  color: #999;
  font-size: 0;
}

.sort_menu .sort_btn a {
  display: inline-block;
  padding: 0 5px;
  line-height: 30px;
  font-size: 12px;
}

.sort_menu .sort_btn a::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 30px;
  margin-right: 5px;
  background: url("/images/vod/icon_sortcheck.png") 50% 50% no-repeat;
  background-size: 12px 9px;
  vertical-align: top;
}

.sort_menu .sort_btn.on {
  color: #111;
}

.sort_menu .sort_btn.on a::before {
  background-image: url("/images/vod/icon_sortcheck_on.png");
}

.sort_menu .sort_btn::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 10px;
  background-color: #e7e7e7;
}

.sort_menu .sort_btn:last-child::after {
  display: none;
}

.more_info .more_btn_wrap {
  padding: 1px 0 10px;
  background-color: #efefef;
}

.more_info .more_btn_wrap .btn {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff;
  font-size: 14px;
  color: #939393;
}

.more_info .more_btn_wrap .btn::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 11px;
  margin-left: 5px;
  background: url("/images/vod/icon_more_btn.png") 50% 50% no-repeat;
  background-size: 6px 11px;
  vertical-align: middle;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.more_info .more_btn_wrap .copy_info strong {
  font-size: 18px;
  line-height: 20px;
}

.more_info .promo_link {
  padding: 10px 30px;
}

.more_info .promo_link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 6px;
  height: 12px;
  margin-top: -6px;
  background: url("/images/vod/bg_banner_arr.png") 50% 50% no-repeat;
  background-size: 6px 12px;
}

.detail_list_vod {
  clear: both;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.detail_list_vod .list_wrap {
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
}

.detail_list_vod .list_wrap:last-child {
  border-bottom: 0;
}

.detail_list_vod .vod_thumb_item {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.detail_list_vod .img_thumb {
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
}

.detail_list_vod .img_thumb img {
  display: block;
  width: 100%;
  height: 100%;
}

.detail_list_vod .img_thumb .timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  padding: 1px 8px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  line-height: 125%;
  font-size: 11px;
  letter-spacing: 0;
}

.detail_list_vod .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  height: 100%;
  margin-left: 120px;
}

.detail_list_vod .info .txt_wrap {
  overflow: hidden;
  margin: 15px;
}

.detail_list_vod .info .txt {
  display: -webkit-box;
  overflow: hidden;
  color: #111;
  font-size: 14px;
  line-height: 125%;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.vod_wrap .play_wrap {
  position: relative;
}

.vod_wrap .play_wrap video {
  width: 100%;
}

.vod_wrap .play_wrap .video_container {
  width: 100%;
}

.vod_wrap .info_wrap {
  padding: 15px;
}

.vod_wrap .info_wrap .info_copy {
  display: -webkit-box;
  overflow: hidden;
  color: #999;
  font-size: 14px;
  line-height: 25px;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.vod_wrap .info_wrap .info_copy strong {
  display: -webkit-box;
  overflow: hidden;
  color: #111;
  font-size: 18px;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-weight: normal;
}

.vod_wrap .info_wrap .info_badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-top: 10px;
}

.vod_wrap .info_wrap .group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 13px;
  color: #999;
}

.vod_wrap .info_wrap .group .badge_eyes::before {
  content: "";
  display: inline-block;
  width: 15.5px;
  height: 9px;
  margin-right: 2px;
  background: url("/images/vod/icon_eyes.png") 50% 50% no-repeat;
  background-size: 15.5px 9px;
  vertical-align: middle;
}

.vod_wrap .info_wrap .icon_dash::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background-color: #e7e7e7;
}

.vod_wrap .info_wrap .group_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  font-size: 14px;
  color: #555;
}

.vod_wrap .info_wrap .group_end .icon_share {
  margin-right: 20px;
  background-color: #fff;
  color: #555;
}

.vod_wrap .info_wrap .group_end .icon_share::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  width: 18px;
  height: 22px;
  margin-right: 5px;
  background: url("/images/vod/icon_share_detail.png") 50% 50% no-repeat;
  background-size: 18px 21px;
  vertical-align: middle;
}

.vod_wrap .info_wrap .group_end .badge_good {
  border: 0;
  line-height: 22px;
}

.badge_good input[type="checkbox"] {
  position: absolute;
  left: 9999px;
  width: 0;
  height: 0;
  border: 0;
  color: transparent;
}

.badge_good input[type="checkbox"]:checked + span {
  color: #84b4ff;
}

.badge_good input[type="checkbox"]:checked + span::before {
  background-image: url("/images/vod/icon_gooddetail_on.png");
}

.badge_good span {
  position: relative;
  display: block;
  padding-left: 25px;
  font-size: 14px;
}

.badge_good span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 21px;
  margin-right: 5px;
  background: url("/images/vod/icon_gooddetail.png") no-repeat 50% 50%;
  background-size: auto 100%;
}

.vod_wrap .appeal_wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 15px 15px;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #28c3cb;
  box-sizing: border-box;
}

.vod_wrap .photo {
  overflow: hidden;
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  flex: initial;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.vod_wrap .photo img {
  width: 100%;
  height: 100%;
}

.vod_wrap .appeal_copy {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  margin-left: 10px;
  padding-right: 10px;
}

.vod_wrap .appeal_copy strong {
  display: -webkit-box;
  overflow: hidden;
  padding-left: 22px;
  color: #111;
  font-size: 14px;
  line-height: 128%;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-weight: normal;
}

.vod_wrap .appeal_copy::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: calc(50% - 7px);
  width: 16px;
  height: 14px;
  background: url("/images/vod/icon_info.png") 0 0 no-repeat;
  background-size: 16px 14px;
}

.vod_wrap .appeal_copy .name {
  font-size: 12px;
  line-height: 15px;
  color: #6399ed;
}

.detail_title {
  position: relative;
  padding: 0 15px;
  background: #f9f9f9;
  color: #939393;
  font-size: 16px;
  line-height: 50px;
  font-weight: normal;
}

.detail_list_vod .txt_wrap .price {
  display: inline-block;
  margin-top: 5px;
  color: #111;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

.detail_list_vod .txt_wrap .price::after {
  content: "원";
  display: inline-block;
  color: #111;
  font-size: 14px;
  font-weight: normal;
  vertical-align: text-top;
}

.play_wrap .thumb_vod {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.play_wrap .thumb_vod img {
  width: 100%;
  height: 100%;
  display: block;
}

.play_wrap .button_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.play_wrap .play_button {
  text-align: center;
}

.play_wrap button {
  padding: 5px;
  background-color: transparent;
}

.play_wrap button img {
  width: 25px;
  height: 30px;
}

.play_wrap .timer {
  display: block;
  color: #fff;
  line-height: 16px;
}

.play_wrap.scroll_move {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}

.vod_wrap .share_detail {
  display: none;
}

.vod_wrap .share_detail.active {
  display: block;
}

.vod_wrap .spr_detail {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  background: url("/images/goods/spr_detail.png") 0 0 no-repeat;
  background-size: 311px 69px;
  font-size: 0;
}

.vod_wrap .spr_share_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  background-color: #fff;
}

.vod_wrap .spr_share_wrap .share_con {
  background-color: #fff;
  margin: 15px;
}

.vod_wrap .spr_share_wrap .share_con.app_init .share_copy_wrap {
  display: none;
}

.vod_wrap .spr_share_wrap .share_con.app_init .share_lst .logo_order {
  display: inline-block;
}

.vod_wrap .spr_share_wrap .share_con.app_init .share_lst .logo_url {
  display: inline-block;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_order {
  display: none;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_url {
  display: none;
}

.vod_wrap .spr_share_wrap .share_con .share_lst ul {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.vod_wrap .spr_share_wrap .share_con .share_lst li {
  overflow: hidden;
  width: 50%;
  height: 40px;
  margin-bottom: 15px;
}

.vod_wrap .spr_share_wrap .share_con .share_lst li a {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .spr_detail {
  margin-left: 5px;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_kakao .spr_detail {
  width: 40px;
  height: 40px;
  background-position: 0 0;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_sms .spr_detail {
  width: 40px;
  height: 40px;
  background-position: -45px 0;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_facebook .spr_detail {
  width: 40px;
  height: 40px;
  background-position: -90px 0;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_twitter .spr_detail {
  width: 40px;
  height: 40px;
  background-position: -135px 0;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_url .spr_detail {
  width: 40px;
  height: 40px;
  background-position: -226px -1px;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .logo_order .spr_detail {
  width: 40px;
  height: 40px;
  background-position: -271px -1px;
}

.vod_wrap .spr_share_wrap .share_con .share_lst .txt {
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
  color: #333;
  vertical-align: top;
  line-height: 40px;
  font-weight: normal;
}

.vod_wrap .spr_share_wrap .share_con .share_copy_wrap {
  border-top: 1px solid #ececec;
}

.vod_wrap .spr_share_wrap .share_con .share_copy {
  position: relative;
  margin: 15px auto;
  padding-left: 50px;
}

.vod_wrap .spr_share_wrap .share_con .share_copy .link_copy {
  display: block;
  font-size: 12px;
  color: #555;
  font-weight: normal;
  white-space: nowrap;
}

.vod_wrap .spr_share_wrap .share_con .share_copy .link_path {
  display: block;
  font-size: 11px;
  color: #999;
  font-weight: normal;
  line-height: 100%;
  white-space: normal;
}

.vod_wrap .spr_share_wrap .share_con .share_copy .ico_path {
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  margin: -12px 8px 0 13px;
  background-position: 0 -45px;
}

.vod_wrap .spr_share_wrap .share_con .share_close {
  height: 40px;
  border: 1px solid #cfcfcf;
  text-align: center;
  clear: both;
}

.vod_wrap .spr_share_wrap .share_con .share_close a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 38px;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  text-decoration: none;
}

.share_dim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 10000;
  opacity: .5;
}

.list_wrap .img_thumb {
  position: relative;
}

.list_wrap .img_thumb::before {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  vertical-align: middle;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.banner_wrap .banner_slot {
  display: block;
  cursor: pointer;
}

.banner_wrap .banner_slot img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}

.main_cont .live_tv .thinglive {
  background: url("/images/vod/bg_thing_live.png") no-repeat 0 0;
  background-size: 100%;
}

.tabs li .nsTalkBtn {
  background: url("/images/vod/btn_nstalk.png") no-repeat 50% 50%;
  background-size: auto 12px;
}

.tabs li .nsTalkBtn span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.video_wrap {
  position: relative;
}

.video_wrap video[poster] {
  object-fit: fill;
}

.video_wrap .vjs-poster {
  position: relative;
  background-color: #fff;
}

.list_wide_vod {
  clear: both;
  padding: 10px 7.5px 0;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
}

.list_wide_vod .list_wrap::after,
.list_wide_vod .info::after, .list_wide_vod::after {
  content: "";
  display: block;
  clear: both;
}

.list_wide_vod .list_wrap {
  overflow: hidden;
}

.list_wide_vod .vod_thumb_item {
  position: relative;
  padding: 0 7.5px 10px;
}

.list_wide_vod .video_wrap {
  position: relative;
}

.list_wide_vod .video_wrap img {
  display: block;
  width: 100%;
}

.list_wide_vod .video_wrap .timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  padding: 1px 8px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  line-height: 125%;
  font-size: 11px;
  letter-spacing: 0;
}

.list_wide_vod .video_wrap .timer.off {
  display: none;
}

.list_wide_vod .video_wrap .icon_play {
  overflow: hidden;
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  border-radius: 50%;
  background: url("/images/vod/icon_thumb_play.png") 50% 50% no-repeat;
  background-color: rgba(43, 51, 63, 0.7);
  background-size: 60px 60px;
}

.list_wide_vod .info {
  display: block;
  position: relative;
  margin: 10px 0;
}

.list_wide_vod .info a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.list_wide_vod .info .txt_wrap {
  overflow: hidden;
  height: 20px;
}

.list_wide_vod .info .txt {
  display: -webkit-box;
  overflow: hidden;
  color: #111;
  font-size: 16px;
  line-height: 125%;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}

.list_wide_vod .keyword_wrap {
  float: left;
  width: calc(100% - 140px);
  margin-top: 7px;
  line-height: 18px;
}

.list_wide_vod .keyword_wrap .keyword_txt {
  font-size: 14px;
  color: #ff8387;
  margin-right: 2px;
}

.list_wide_vod .keyword_wrap .keyword_txt::before {
  content: "";
  display: inline-block;
}

.list_wide_vod .badge_wrap {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
}

.list_wide_vod .badge_wrap .badge_play::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_play.png") 50% 50% no-repeat;
  background-size: 9px 11px;
  vertical-align: top;
}

.list_wide_vod .badge_wrap .badge_good::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-right: 2px;
  background: url("/images/vod/icon_good.png") 50% 50% no-repeat;
  background-size: 12px 12px;
  vertical-align: top;
}

.list_wide_vod .badge_wrap .icon_dash::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 9px;
  margin: 0 5px;
  background-color: #e7e7e7;
}

.list_program {
  overflow: hidden;
  position: relative;
  padding: 15px;
  border-top: 1px solid #eaeaea;
}

.list_program::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  margin-top: 5px;
  clear: both;
  border-top: 1px solid #e7e7e7;
  background-color: #eee;
}

.list_program .list_wrap {
  float: left;
  width: calc(50% - 7.5px);
  margin-bottom: 10px;
}

.list_program .list_wrap:nth-child(odd) {
  margin-right: 7.5px;
}

.list_program .list_wrap:nth-child(even) {
  margin-left: 7.5px;
}

.list_program .program_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 50px;
}

.list_program .program_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 50px;
}

.list_program .program_wrap a img {
  display: block;
  width: 100%;
}

#container[data-focus="true"] .thinglive_wrap {
  position: absolute;
}

#container .thinglive_wrap {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  background-color: #eee;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.nstalk {
  font-family: "Malgun Gothic", arial, tahoma, sans-serif, Helvetica !important;
}

.thinglive_tab {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
}

.thinglive_tab .button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #f9f9f9;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.thinglive_tab .button a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.thinglive_tab .button .text {
  color: #939393;
  font-size: 16px;
}

.thinglive_tab .button .count {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-color: #d5493b;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}

.thinglive_tab .button:nth-child(even) {
  border-left: 1px solid #d9d9d9;
}

.thinglive_tab .button.on {
  background-color: #fff;
  border-top: 1px solid #ee463b;
  border-bottom: 1px solid #fff;
}

.thinglive_tab .button.on .text {
  color: #333;
  font-weight: bold;
}

.thinglive_tab .button.on .text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url("/images/vod/tab_arr.png") 50% 50% no-repeat;
  background-size: 11px 6px;
  left: calc(50% - 5.5px);
  bottom: 3px;
}

.thinglive_tab .button.vodlist_tab .text::after {
  background: none;
}

.tab_container {
  display: none;
}

.tab_container.on {
  display: block;
}

.prd_only {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.prd_only .chat_opt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 0;
}

.prd_only .chat_opt.parting {
  font-size: 14px;
  color: #939393;
  text-align: right;
}

.livebuy_wrap {
  background-color: #fff;
}

.jsheight_target .nstalk_cont_wrap {
  padding-top: 60px;
}

.jsheight_target .detail_list_vod {
  border-top: 0;
}

/* videojs default modify */
.video_wrap .video-js .vjs-big-play-button {
  z-index: 99;
  overflow: hidden;
  position: absolute;
  left: calc(50% - 33.5px);
  top: calc(50% - 33.5px);
  width: 67px;
  height: 67px;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 50%;
  background: url("/images/vod/icon_thumb_play.png") 50% 50% no-repeat;
  background-size: 67px 67px;
  background-color: rgba(43, 51, 63, 0.7);
}

.video_wrap .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  content: "";
}

.video_wrap .vjs-icon-play::before {
  content: "";
}

.progress_off .vjs-progress-control .vjs-progress-holder {
  display: none;
}

.video_info_wrap.off {
  display: none;
}
